nav a.active{
    background: none !important;
    /* color: orange !important; */
    /* text-decoration: underline !important; */
    font-weight:  bold !important;
    color: rgb(193, 185, 185);
}
nav a{
    font-size: 15px;
    font-weight: 500;
}
nav a:hover{
    background: none !important;
}
.logout{
    background: none !important;
}