@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Damion&family=Sofia&display=swap');

html{
    scroll-behavior: smooth;
}
.inpt::placeholder{
    color: black;
    font-weight: 600;
}
.inpt-city::placeholder{
    color: gray;
    font-weight: 600;
}
.damion-regular {
    font-family: "Damion", cursive;
    font-weight: 600;
    font-style: normal;
  }

  #itinerary-content {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}
  
.forChild:nth-child(even){
    flex-direction: row-reverse;
}
.connector img{
    transform: rotate(10deg);
    display: absolute;
    left: 330px;
    margin-top: 114px;
    width: 600px;
}
.connector img:nth-child(even){
    transform: rotate(-10deg) !important;
}
.h-calc-100vh-140px{
    height: calc(100vh - 140px);
}
.h-calc-100vh-278px{
    height: calc(100vh - 278px);
}

.scrollbar-hide::-webkit-scrollbar {
    display: none; 
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  